<app-header></app-header>
<!-- HEADER Navigation End -->

<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
<div class="main-content-area">

  <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
  <section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 co-xs-12 text-left">
          <h1>View Posts</h1>
        </div>
        <!-- end col -->
        <div class="col-md-6 col-sm-5 co-xs-12 text-right">
          <div class="bread">
            <ol class="breadcrumb">
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">Pages</a>
              </li>
              <li class="active">View Posts</li>
            </ol>
          </div>
          <!-- end bread -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>

  <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
  <section id="blog" class="custom-padding white">
    <div class="container">
      <div class="offset-md-3 col-md-6">


        <div class="form-group">
          <label for="taskTextField">Title:</label>
          <strong> {{post.title}}</strong>
        </div>
        <div class="form-group">
          <label for="descriptionTextField">Price:</label>
          <strong> ${{post.price}}</strong>
        </div>

        <div class="form-group">
          <label for="descriptionTextField">Price:</label>
          <strong> {{post.status}}</strong>
        </div>

        <div class="form-group">
          <label for="descriptionTextField">Price:</label>
          <strong> {{post.expires_on}}</strong>
        </div>

        <br />

        <a routerLink="/products/view-posts" class="btn btn-warning">
          <i class="fas fa-undo"></i>
          Cancel
        </a>


      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
  <section>
    <!-- <div class="col-xl-6"> -->
      <div class="card m-b-20">
        <div class="card-header">
          <h3 class="card-title">Question</h3>

        </div>
        <div class="card-body"  >
          <form  method="POST"  action="#" ref='uploadForm' id='uploadForm' encType="multipart/form-data">
            <div class="form-group">
              <label class="form-label" for="exampleInputEmail1">Your Name</label>
              <input type="text" name="Question_title" class="form-control" id="exampleInputname" [(ngModel)]="newQuestion.name" placeholder="John" required>

            </div>
            <div class="form-group">
              <label class="form-label" for="exampleInputEmail1" >Question:</label>
              <textarea name="Question_detail"  class="form-control"  rows="5" cols="58" [(ngModel)]="newQuestion.content" placeholder="Question" required></textarea>

            </div>


            <div class="form-group mb-0">
              <div class="checkbox checkbox-secondary">
                <button type="submit" class="btn btn-primary " (click)="onQuestionSubmit()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->
  </section>
  <div *ngIf="submitted">
    Question was successfully submitted
  </div>


  <section>
    <div class="card m-b-20">
      <div class="card-header">
        <h3 class="card-title">Questions</h3>
      </div>
      <div class="card-body">
        <div *ngFor="let q of post.questions ; let i = index">
          <div class="card m-b-20">
            <div class="card-header">
              <h5 class="card-title">{{q.name}}</h5>
            </div>
            <div>{{q.content}}</div>
            <div *ngIf="q.answer != null">
              <div>Answer by owner: </div>
              <div>------{{q.answer.content}}</div>
            </div>
            <form *ngIf="isAuthorized && q.answer == null"  method="POST"  action="#" ref='uploadForm' id='uploadForm' encType="multipart/form-data">
              <div class="form-group">
                <label class="form-label" for="exampleInputEmail1" >Answer:</label>
                <textarea name="answer"  class="form-control"  rows="5" cols="58" [(ngModel)]="answers[i].content" placeholder="Answer" required></textarea>

              </div>


              <div class="form-group mb-0">
                <div class="checkbox checkbox-secondary">
                  <button type="submit" class="btn btn-primary " (click)="onAnswerSubmit(i)">Submit</button>
                </div>
              </div>
            </form>
            <div *ngIf="questionList[i] == 1">
              Answer was submitted
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- =-=-=-=-=-=-= Download App =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Download App END =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

</div>
<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

<!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
<app-footer></app-footer>
