<!-- =-=-=-=-=-=-= PRELOADER =-=-=-=-=-=-= -->

<!-- =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= -->
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-8">
        <ul class="top-nav nav-left">
          <li><a href="/">Home</a>
          </li>
          <li class="hidden-xs"><a href="#">Home & Kitchen</a>
          </li>
          <li  class="hidden-xs"><a href="#">Electronics</a>
          </li>
          <li  class="hidden-xs"><a href="#">Best Sellers</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
        <ul class="top-nav nav-right">
          <li><a href="/login"><i class="fa fa-lock" aria-hidden="true"></i>Login</a>
          </li>
          <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Signup</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- =-=-=-=-=-=-= HEADER Navigation =-=-=-=-=-=-= -->
<div class="navbar navbar-default">
  <div class="container">
    <!-- header -->
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- logo -->
      <a href="/" class="navbar-brand">
        <img class="img-responsive" style="height:40px" alt="" src="assets/Images/logo.jpg">
        <h3>Sell Product</h3>
      </a>
      <!-- header end -->
    </div>
    <!-- navigation menu -->
    <div class="navbar-collapse collapse">
      <!-- right bar -->
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm"><a href="/how-work">How  It Works</a>
        </li>
        <li>
          <div class="btn-nav"><a href="/products/create-post" class="btn btn-primary btn-small navbar-btn">Post</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- navigation menu end -->
    <!--/.navbar-collapse -->
  </div>
</div>
